@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: var(--primary-font);
    overflow-x: hidden;
}
:root{
    --primary_color: rgb(229, 9, 20);
    --primary-font: Roboto;
}

.logo{
    color: var(--primary_color);
    font-size: 45px;
    font-weight: 500;
    font-family: Oswald;
}

.firstLook{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top;
    background-image: 
        linear-gradient(to right, rgb(0 0 0 / 74%), rgb(0 0 0 / 0%), rgb(0 0 0 / 50%)),
        linear-gradient(to top, rgb(0 0 0 / 50%), rgb(0 0 0 / 0%), rgb(0 0 0 / 50%)),
        url(https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/IN-en-20240916-TRIFECTA-perspective_72df5d07-cf3f-4530-9afd-8f1d92d7f1a8_large.jpg);
}

.firstLook::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    z-index: 2;
}

#lang{
    margin: 10px;
    border-radius: 3px;
    /* font-weight: bold; */
    font-family: var(--primary-font);
    font-size: 11px;
    background: transparent;
    color: white;
    transform: scale(1.3);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
select option{
    color: black;
    font-size: larger;
}
.langAndSignin a{
    font-weight: bold;
    font-size: 13px;
    font-family: var(--primary-font);
    display: inline-block;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--primary_color);
}

.emailAndLine{
    margin: 10px;
    padding-top: 50px;
    width: 50vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
}

.emailAndLine div:first-child{
    font-size: 50px;
    font-weight: 1000;
}
.emailAndLine div:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
}
.emailAndLine div:nth-child(3){
    font-weight: 400;
    margin-bottom: 10px;
}
.emailInput{
    padding: 17px;
    width: 350px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.459);
    background-color: rgba(36, 14, 29, 0.781);
    margin-right: 4px;
}
#submit{
    border-radius: 5px;
    transform: translateY(2px);
    font-size: 22px;
    padding: 12px;
    width: 180px;
    /* padding-right: 25px;
    padding-right: 20px; */
    background-color: var(--primary_color);
    color: white;
    border: none;
    font-weight: bold;
}
#next{
    /* color: white; */
    filter: brightness(0) invert(1);
    height: 17px;
}
#submit:hover{
    background-color: rgb(206, 10, 20);
}
#signIn:hover{
    background-color: rgb(206, 10, 20);
}
/* .trendingNow{
    font-size: 23px;
    font-weight: 500;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    padding-left: 30px;
} */
.trending{
    margin: auto;
    max-width: 76vw;
    background-repeat: no-repeat;
    height: 46vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 40px;
}
.element{
    position: relative;
    z-index: 2;
    height: 100%;
    width: 20%;
    background-size: contain;
    border-radius: 8px;
}
.element:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out 0s;
}
.element span{
    text-shadow: 
        2px 2px 0px rgb(197, 189, 189),
       -2px 2px 0px rgb(197, 189, 189),
        2px -2px 0px rgb(197, 189, 189),
       -2px -2px 0px rgb(197, 189, 189);
    color: black;
    font-weight: bold;
    font-size: 90px;
    position: absolute;
    bottom: 10px;
    transform: translateX(-20px);
    left: 0;
    z-index: 3;
}
.rightButton{
    color: rgb(209, 197, 197);
    font-size: larger;
    border: none;
    background-color: rgba(57, 58, 59, 0.644);
    border-radius: 6px;
    padding: 6px;
    padding-bottom: 45px;
    padding-top: 45px;
}

.subheading{
    font-weight: bold;
    font-size: 22px;
    margin: 40px;
    margin-bottom: 20px;
    margin-left: 11vw;

}
.cards{
    margin: auto;
    width: max-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
}
.icon{
    width: 60px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 5;
}
.card{
    padding: 15px;
    color: rgb(172, 164, 164);
    position: relative;
    height: 300px;
    width: 210px;
    /* background-color: rgba(128, 0, 128, 0.555);
    background: (to right, rgba(40, 51, 116, 0.932), rgba(40, 51, 116, 0.932), rgba(40, 51, 116, 0.932)); */
    background: linear-gradient(to right, #330355, #2C0033);
    border-radius: 15px;
    z-index: 2;
}
.cardHeading{
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.ques{
    font-weight: 350;
    font-size: 22px;
    width: 77vw;
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    align-items: center;
    background-color: rgba(58, 54, 54, 0.664);
    margin: 7px auto;
}
.ques:hover{
    background-color: rgba(90, 84, 84, 0.664);
}
.plus{
    font-weight: 200;
    padding-right: 20px;
    font-size: 55px;
}
.statement{
    padding: 20px;
}
.tagline{
    width: fit-content;
    margin: 10px auto;
    margin-top: 70px;
}
.secondEmailInput{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.secondEmail{
    width: 40%;
    /* max-width: 900px; */
    transform: translateY(2px);
    /* width: 70%; */
}
#email{
    width: 40%;
}
.secondEmailInput button {
    margin-left: 5px;
}
.contact{
    margin-top: 40px;
    margin-bottom: 20px;
}
.footer{
    width: 80vw;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    color: rgba(184, 180, 180, 0.767);
}
.footer a{
    font-weight: bold;
    font-size: 13px;
    color: rgba(184, 180, 180, 0.767);
}
.links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 15px;
}
.lastOnes{
    margin-top: 40px;
    margin-bottom: 60px;
}
.lastOnes div{
    margin-top: 40px;
}

